# SQL Server Database Project
bin/
obj/
sql/
*.dbmdl
*.deploymanifest
*.dbproj.sql
*.dacpac
*.jfm
.vs/
*.user

# Local publish profiles (keep in local only)
*.publish.xml

# Build artifacts
Import Schema Logs/

